// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #F3F2F0;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    margin: 0;
}

.full-height {
    min-height: 70vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

h1 {
    color: #4A6258;
    font-size: 68px;
    line-height: 55px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    border: 5px solid #4A6258;
    padding: 15px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.footer {
    color: #636b6f;
    text-align: center;
    background-color:#F3F2F0;
}

.content {
    width: 80%;
    margin: 0 auto;
    overflow: scroll;
}

.flex-fill {
    flex:1 1 auto;
 }

 .alert {
    ul {
      list-style: none;
    }
  }

  .title-container {
    background: url("/images/homepageimage.jpeg");
    background-size: cover;
    background-position: center bottom;
  }

