// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//GENERAL

html, body {
    background-color: #F3F2F0;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: #4A6258;
    font-size: 60px;
    line-height: 55px;
    font-family: 'Teko', sans-serif;
    border: 4px solid #4A6258;
    padding: 15px;
    text-align: center;
}

h4 {
    color: #AF6D4F;
}

h5 {
    color: #AF6D4F;
}

.full-height {
    min-height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.title-line {
    width: 20%;
    border-top: 1px solid #AF6D4F;
}

.flex-fill {
    flex:1 1 auto;
 }

 .alert {
    ul {
      list-style: none;
    }
  }

//CARD

.card {
    box-shadow: 5px 10px 18px #888888;
}

.card-title {
    color: #4A6258
}

.btn {
    background-color: #4A6258;
}

//FOOTER

.footer {
    color: #636b6f;
    text-align: center;
    background-color:#F3F2F0;
}

// TITLE HOME PAGE 

.title-container {
    background: url("/images/homepageimage.jpeg");
    background-position: right top;
}

.flex-container {
    display:flex;
    background-color: white;
    height: 90vh;
}

// BOTTOM HOME PAGE

.left-side {

    flex-grow: 4;
    overflow:hidden;
    object-fit: fill;
    
}

.right-side {
    width: 45%;
    p {
        padding: 25px;
    }
}

.about-container {
    background-color: #4A6258;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    padding-bottom: 100px;
}

.about-content {
    background-color: #F3F2F0;
    width: 60%;
    margin: 0 auto;
    display: table;
    padding: 30px;

    li {
        text-align: left;
    }
}


//PROFILE 

.profile-button {
    border: 1px solid #AF6D4F;
}

.container-profile {
    padding-bottom: 100px;
    width: 100%;

    img {
        width: 60%;
    }
}

.post {
    box-shadow: 0px 0px 0px #888888;
}

.badge-pill {
    background-color: #4A6258;
}

.list-group-item-action.active{
   
    background-color: #AF6D4F;
    border-color: #AF6D4F;
}
